@tailwind base;
@tailwind components;
@tailwind utilities;


.scroll-to-top{
    background-color: white !important;
    border-radius: 50% !important;
}
.scroll-to-top svg{
 margin-left: 6px !important;
 
}